.btn:focus, .btn::-moz-focus-inner {
  outline:none;
  border:none;
}

.btn {
  width: 100px;
  font-family: arial;
  font-size:14px;
  text-transform: uppercase;
  font-weight:700;
  border:none;
  padding:10px;
  margin: 0 10px;
  cursor: pointer;
  display:inline-block;
  text-decoration: none;
}

.btnCenter {
  text-align: center;
}

.btn-green {
  background:green;
  color:#fff;
  box-shadow:0 5px 0 #006000;
}

.btn-green:hover {
  background:#006000;
  box-shadow:0 5px 0 #003f00;
}

.btn-green:active, .btn-purple:active, .btn-red:active {
  position:relative;
  top:5px;
  box-shadow:none;
}

body.center-form {
    min-height: 50vh;
  	margin:10 auto;
    width:500px;
    background:#000c;
    position:relative;
    top:50px;
}

div.center-form {
  background: none;
  position: relative;
  min-height: 50vh;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 10px;
}

div.center-form > form {
  width: 70%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

}

div.center-form h3 {
  text-shadow: 0px 2px 3px #000;
  font-family: sans-serif;
  padding: 5px;
  border-bottom: 3px solid white;
  color: white;
}

#timer {
  font-size: 20px;
  outline: none;
  background: none;
  border: none;
  padding: 10px;
  border-bottom: 1px solid white;
  color: white;
}

h1 {
  text-shadow: 0 0 5px #000;
  font-family: sans-serif;
  color: white;
} 

div.h1 {
  background: green;
  position: relative;
  min-height: 5vh;
  padding: 0.1em;
  border-radius: 1em;
  box-shadow: 0 0 10px;
  text-align: center;
  margin-bottom: 30px;
}
